<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TAL One Sanity Suite" verbose="1" parallel="tests" thread-count="5">
    <test name="Login Functionality Tests" parallel="classes">
        <parameter name="browser" value="chrome"/>
        <classes>

		<!--	
			<class name="TestCases.LoginAllTest"/>
			<class name="TestCases.BrmTest"/>
             
             <class name="TestCases.WomTest"/>
			-->
            <class name="TestCases.CrmTest"/>  
            
          

        </classes>
    </test>
</suite>
