<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Java Hybrid Framework Suite" verbose="1" parallel="tests" thread-count="1">
    <test name="Login Functionality Tests">
        <classes>
            <class name="TestCases.CrmTest"/>
        </classes>
    </test>
</suite>
