<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TAL One Sanity Suite" verbose="1" parallel="tests" thread-count="5">
    <test name="Login Functionality Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.java.TestCases.LoginAllTest"/>
        </classes>
    </test>
    <!-- Add more <test> tags here for different groups of tests as your project grows -->
</suite>
